/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}


/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 0px; /* width for vertical scrollbar */
  height: 12px; /* height for horizontal scrollbar */
}

